<!--
Link css for comments?
(note for css in general: https://stackoverflow.com/questions/15193492/how-to-include-view-partial-specific-styling-in-angularjs)

check out
https://github.com/caitp/ui-comments
<html data-ng-app="temp">

check out
https://github.com/caitp/ui-comments
https://stackoverflow.com/questions/25404341/nested-comments-in-angularjs-with-ng-repeat
https://github.com/angular-ui-tree/angular-ui-tree
https://github.com/NiXXeD/chatty
https://market.ionic.io/plugins/ionic-threads
	except heavily change
https://github.com/BenjaminAdams/RedditJS
http://panthersoftware.com/2013/05/30/commentable-a-polymorphic-nested-comments-directive-for-angularjs/

https://github.com/DevGrow/jCollapsible
	for collapsing comments
-->
<hr />
<link rel="stylesheet" type="text/css" href="../../styles/main.css" />
<div class="comment rounded">
	<pre>{{$ctrl.comments | json}}</pre>
	<!--<em>================================================</em>-->
	<ul>
		<li ng-repeat="comment in $ctrl.comments">
		<p class="title">{{post.title}}</p>
		<p class="author">By: {{post.author}}</p>
		<p class="body">{{post.body}}</p>
		</li>
	</ul>
</div>

<script src="commet-list.component.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js"></script>   
<script src="comment-list.module.js"></script>
<script src="temp.js"></script>
<hr />


</html>