<footer>
	<div id="footer" class="container">
	<header>
		<h2>Questions or comments? <strong>Get in touch:</strong></h2>
	</header>
	<div class="row">
		<div class="6u 12u(mobile)">
			<section>
				<p>Thanks again for visiting. Leave feedback, share 
				what you liked, and please come back soon for more content.</p>
			</section>
		</div>
	</div>
	<div id="copyright">
		<ul class="links" class="container">
			<li>&copy; <span id="copyYear"></span>. All rights reserved.
				<script type="text/javascript">
					$('#copyYear').html(new Date().getFullYear());
				</script>
			</li>
			<li>Props to: <a target="_blank" href="http://prof.ninja/">prof.ninja</a></li>
		</ul>
	</div>
</footer>