<div class="top">
	<div class="top-inner">
		<button id="login">Login</button>
		<span id="message">...</span>
		<button id="logout">Logout</button>
	</div>
</div>
<div class="all">
	<div class="nav">
		<!--<div class="nav-links">-->
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/">Forum</a></li>
				<li><a href="views/members.html">Members</a></li>
				<li><a href="views/roles.html">Roles</a></li>
				<li><a href="views/admin.html">Admin</a></li>
			<!--</ul>-->
		<!--</div>-->
		<!--<div class="nav-search">-->
			
			
				<li><input type="search" placeholder="Search" /></li>
			</ul>
		<!--</div>-->
	</div>
	<div class="content">