<!DOCTYPE html>
<html>
	<head>
		<title>Andy's Forum</title>
		<link rel="stylesheet" type="text/css" href="styles/main.css" />
		<!--<script src="https://cdn.firebase.com/js/client/2.0.2/firebase.js"></script>-->
		<script src="https://www.gstatic.com/firebasejs/3.7.6/firebase.js"></script>
		<script async src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		
		<script defer src="firebase-init.js"></script>
		<script defer src="js/main.js"></script>
	</head>
	<body>
		<header>
			<div class="header">
				<img src = "../images/team14_header.GIF"/>
			</div>
			
			<div id="login">Login Here</div>
			<p id="message">...</p>
			<button id="logout">Logout</button>
		</header>