<!doctype html>
<html>
    <div><center><img src = "../images/team14_header.GIF"/></center></div>
    
<table class="info">
    <tr>
        <th>News & Information</th>
    </tr>
    <tr>
        <td>
            <div><img src="../images/msg2.png" /></div>
            <div><p><a href="#!/topic/:topicid">Salmon Wars</a></p> <span>Topics: 0, Posts: 0</span></div>
        </td>
    </tr>
    <tr>
        <td>
            <div><img src="../images/msg2.png" /></div>
            <div><p>CSS</p> <span>Topics: 0, Posts: 2</span></div>
        </td>
    </tr>
    <tr>
        <td>
            <div><img src="../images/msg2.png" /></div>
            <div><p>Finance</p> <span>Topics: 0, Posts: 0</span></div>
        </td>
    </tr>
</table>

<table class="info">
    <tr>
        <th>Other Stuff</th>
    </tr>
    <tr>
        <td>
            <div><img src="../images/msg2.png" /></div>
            <div><p>DANGER: Political Rants</p> <span>Topics: 0, Posts: 0</span></div>
        </td>
    </tr>
    <tr>
        <td>
            <div><img src="../images/msg2.png" /></div>
            <div><p>Memes</p> <span>Topics: 0, Posts: 0</span></div>
        </td>
    </tr>
    <tr>
        <td>
            <div><img src="../images/msg2.png" /></div>
            <div><p>Tech Help Desk</p> <span>Topics: 0, Posts: 0</span></div>
        </td>
    </tr>
</table>


<table class="info">
    <tr>
        <th>Other Stuff</th>
    </tr>
    <tr>
        <td>
            <div><img src="../images/msg2.png" /></div>
            <div><p>Space</p> <span>Topics: 0, Posts: 0</span></div>
        </td>
    </tr>
    <tr>
        <td>
            <div><img src="../images/msg2.png" /></div>
            <div><p>Entrepreneurship</p> <span>Topics: 0, Posts: 0</span></div>
        </td>
    </tr>
</table>
</html>