<!--
Initial template ripped from reddit. 
Edit a bit
-->
<ul class="flat-list buttons">
	<li class="first">
		<a href="https://www.reddit.com/r/Jokes/comments/62g128/i_got_pulled_over_by_a_female_cop/"
			data-inbound-url="/r/Jokes/comments/62g128/i_got_pulled_over_by_a_female_cop/?utm_content=comments&amp;utm_medium=front&amp;utm_source=reddit&amp;utm_name=Jokes"
			data-href-url="/r/Jokes/comments/62g128/i_got_pulled_over_by_a_female_cop/"
			data-event-action="comments"
			class="bylink comments may-blank"
			rel="nofollow">number of comments</a>
	</li>
	
	<li class="share">
		<a class="post-sharing-button" href="javascript: void 0;">share</a>
	</li>

	<li class="link-save-button save-button">
		<a href="#">save</a>
	</li>
	
	<li>
		<form action="/post/hide" method="post" class="state-button hide-button"><input type="hidden" name="executed" value="hidden"><span><a href="javascript:void(0)" class=" " data-event-action="hide" onclick="change_state(this, 'hide', hide_thing);">hide</a></span></form>
	</li>

	<li class="give-gold-button">
		<a href="/gold?goldtype=gift&amp;months=1&amp;thing=t3_62g128" title="give reddit gold in appreciation of this post." class="give-gold login-required access-required" data-event-action="gild">give gold</a>
	</li>
	
	<li class="report-button">
		<a href="javascript:void(0)" class="reportbtn access-required" data-event-action="report">report</a>
	</li>
</ul>