<link rel="stylesheet" type="text/css" href="style.css" />
<hr />

<div id="topicUserActions">
	<!--New Topic:<br>-->
	<!--<p>Details</p>-->
	<!--<textarea id = "postBody"></textarea>-->
	
	<!--<p>Author</p>-->
	<!--<textarea id = "userauthor"></textarea>-->
	
	<!--<button type = "button" onclick= "printpost()">Add Post</button>-->
	<!--<button onclick="share-button">Share post</button>-->
	<!--<p id = "userpost"></p>-->
		<!--	console.log("test");-->

	<script>
		// FIXME: put in separate js file, then link the file here <script src=...><///script>
		
		// AJAX stuff to the api to add a new post
		/*
		Info to send:
		TODO: (SANITIZE)
		let _author = (something we've saved from the authentication process? Session variable!(?) )
		let _title = $('#postTitle');
		let _body = $('#postBody');
		let data = {
			author: _author,
			title: _title,
			body: _body
		}
		$.post(
			url: 'https://websec-commandogn.c9users.io/topic/:topicId/post',
			data: data,
			success: (result, textStatus, jqXHR) => {
				console.log(result);
			},
			dataType: json
		);
		*/
		
		/*
		NOTES:
		For testing purposes, you can just add some html wherever.
		Angular has some magic voodoo data-binding,
			I'm not sure how to work that yet, so we'll probably have to add the new post (when the button's clicked) to the post list manually
			In that case you can use some dope JQuery stuff to load the template (to eventually be moved to its own "post-info" template.
		For now, we can do something like (this won't work, but its the main idea):
		var element  = $("#IDOfPlaceToPutTemplate"); // <post-list>'s <ul> so $('post-list ul')[0]
		var fragment = document.createDocumentFragment();
		fragment.load( "path/to/template.html", function() { //this may not work since it's not a jquery object
			alert( "Load was performed." );
		});
		
		fragment.getElementsByClassName('author')[0].innerHTML = whatever you want to put
		fragment.getElementsByClassName('title')[0].innerHTML = whatever you want to put
		
		element.appendChild(fragment);

		//////or don't use the template and just make your own thing and then add it to the <post-list>'s <ul>
		
		*/
	</script>
</div>



<!--<topic-list>-->
<!--</topic-list>-->